@{
    Layout = null;
}
@model MessageViewModel

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="~/images/favicon.png">
    <title>@ViewData["Title"] - TLI</title>
    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css"/>
        <link rel="stylesheet" href="~/css/style.css"/>
        <link rel="stylesheet" href="~/css/colors/blue.css" id="theme"/>
        <link rel="stylesheet" href="~/css/site.css"/>
    </environment>
    <style>.login-box { width: 480px; }</style>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<!-- ============================================================== -->
<!-- Preloader - style you can find in spinners.css -->
<!-- ============================================================== -->
<div class="preloader">
    <svg class="circular" viewBox="25 25 50 50">
        <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
    </svg>
</div>
<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<section id="wrapper">
    <div class="login-register" style="background-image: url(/images/background/login-register.jpg);">
        <div class="login-box card">
            <div class="card-body">
                <h4 class="card-title">@Model.Title</h4>
                <h6 class="card-subtitle mb-2 text-muted">@Model.Subtitle</h6>
                <p class="card-text">@Model.Content, <a asp-controller="Home" asp-action="Index" class="card-link">return to Home</a></p>
            </div>
        </div>
    </div>
</section>
<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->
<environment names="Development">
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/tether/dist/js/tether.js"></script>
    <script src="~/lib/popper.js/dist/umd/popper.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/jquery.slimscroll.js"></script>
    <script src="~/js/waves.js"></script>
    <script src="~/js/sidebarmenu.js"></script>
    <script src="~/lib/sticky-kit/jquery.sticky-kit.js"></script>
    <script src="~/lib/jquery-sparkline/dist/jquery.sparkline.js"></script>
    <script src="~/js/custom.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/styleswitcher/jQuery.style.switcher.js"></script>
</environment>
</body>
</html>