@{
    ViewData["Title"] = "Schedule";
    ViewData["Path"] = new[] { "Index" };
    var alowTimeTable = @Html.Raw(ViewBag.AllowTimeTable);
    var point = ViewBag.Point;
}

<div class="card-body">
    <p>剩餘課堂數：<span id="remainPoint"></span></p>
    <div id="calendar"></div>
</div>
<div class="card-body">
    <form asp-controller="Schedule" asp-action="Selection" method="post" id="sendselectionsform">
        <input id="selectionscontent" style="display:none" name="Selections"/>
        <button type="button" onclick="sendselections()">Send Selections</button>
    </form>
</div>

@section Styles {
    <environment names="Development">
        <link rel="stylesheet" href="~/lib/fullcalendar/dist/fullcalendar.css"/>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.5/sweetalert2.css" rel="stylesheet" />
    </environment>
}

@section Scripts {
    <environment names="Development">
        <script type="text/javascript" src="~/lib/fullcalendar/dist/fullcalendar.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.5/sweetalert2.js"></script>
        <script>
            var point = @point;
            var remainPoint = @point;
            $('#remainPoint').text(remainPoint);
            function sendselections(){
                var selection = [];
                selectList = $("#calendar").fullCalendar('clientEvents', function (event) { return (event.rendering !== "background"); });
                $(selectList).each(function(index, value){
                    selection.push({ SelectTime:value.start} );
                });
                if (selection.length == 0) {
                    swal({
                        title: '請選擇至少一堂課',
                        text: '你可以嘗試選擇套裝方案，會有更佳優惠的價格唷！',
                        type: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: '知道了'
                    });
                }
                else {
                    $('#selectionscontent').val(JSON.stringify(selection));
                    $('#sendselectionsform').submit();
                }
            }

            function calculatePoint(){
                selectList = $("#calendar").fullCalendar('clientEvents', function (event) { return (event.rendering !== "background"); });
                remainPoint = point - selectList.length;
                $('#remainPoint').text(remainPoint);
            }

            $(document).ready(function() {
                var allowTimeTable = @(alowTimeTable);
                var convertTimeTable = [];
                $(allowTimeTable).each(function(index, value){
                        if (value.Quantity > 0)
                        {
                            var item = {
                            start: moment(value.Time).format('YYYY-MM-DDTHH:mm:ssZ'),
                            end:moment(value.Time).add(1, 'hours').format('YYYY-MM-DDTHH:mm:ssZ'),
                            rendering: 'background',
                            backgroundColor: '#00FA9A'
                        };
                        convertTimeTable.push(item);
                    }
                });
                var renderingEvent = function (event) {
                    if (remainPoint > 0) {
                        var eventData;
                        eventData = {
                            title: '選課',
                            start: event.start,
                            end: event.end
                        };
                        $('#calendar').fullCalendar('renderEvent', eventData, true);
                        calculatePoint();
                    }
                    else {
                        swal({
                            title: '已無剩餘課堂數',
                            text: '你可以嘗試選擇套裝方案，會有更佳優惠的價格唷！',
                            type: 'warning',
                            showCancelButton: true,
                            confirmButtonColor: '#3085d6',
                            cancelButtonColor: '#d33',
                            confirmButtonText: '知道了'
                        });
                    }
                };
                $('#calendar').fullCalendar({
                        height: 736,
                        header: {
                            left: 'prev,next today',
                            center: 'title',
                            right: 'month,agendaWeek'
                        },
                        slotDuration: "01:00:00",
                        slotLabelFormat: 'HH:mm',
                        navLinks: true, // can click day/week names to navigate views
                        selectable: true,
                        selectHelper: false,
                        slotEventOverlap: false,
                        allDaySlot: false,
                        selectOverlap: function(event) {
                            var isvalidEvent = event.rendering === 'background';
                            var view = $('#calendar').fullCalendar('getView');
                            if (view.name == 'month') {
                                $('#calendar').fullCalendar('changeView', 'agendaWeek');
                                $("#calendar").fullCalendar('gotoDate', event.start);
                                return false;
                            }
                            else {
                                if (isvalidEvent)
                                {
                                    renderingEvent(event);
                                    return true;
                                }
                                else
                                    return false;
                            }
                        },
                        eventClick: function (calEvent, jsEvent, view) {
                            $('#calendar').fullCalendar('removeEvents', function (event) {
                                return event._id == calEvent._id;
                            });
                            calculatePoint();
                        },
                        editable: false,
                        eventLimit: true,
                        eventOverlap: true,
                        eventDurationEditable: false,
                        displayEventTime: false,
                        displayEventEnd: false,
                        timeFormat: 'YYYY-MM-DDTHH:mm:ssZ',
                        events:convertTimeTable,
                        unselectAuto: true,
                        showNonCurrentDates: false
                });
            });
        </script>
    </environment>
}