@{
    ViewData["Title"] = "Dashboard";
    ViewData["Path"] = new[] { "Dashboard" };
}
<div class="card-body">
    <div id="calendar"></div>
</div>

@section Styles {
    <environment names="Development">
        <link rel="stylesheet" href="~/lib/fullcalendar/dist/fullcalendar.css"/>
    </environment>
}

@section Scripts {
    <environment names="Development">
        <script type="text/javascript" src="~/lib/fullcalendar/dist/fullcalendar.js"></script>
        <script>
            $(document).ready(function() {
                var date = new Date();
                var d = date.getDate();
                var m = date.getMonth();
                var y = date.getFullYear();
                var form = '';
                var today = new Date($.now());

                $('#calendar').fullCalendar({
                        slotDuration: '00:15:00', /* If we want to split day time each 15minutes */
                        minTime: '08:00:00',
                        maxTime: '19:00:00',
                        defaultView: 'month',
                        handleWindowResize: true,
                        header: {
                                left: 'prev,next today',
                                center: 'title',
                                right: 'month,agendaWeek,agendaDay'
                            },
                        events: [
                                {
                                    title: '初級漢語上 - Beginner 1',
                                    start: new Date('2017-12-25T07:00:00'),
                                    end: new Date('2017-12-25T07:50:00'),
                                    className: 'bg-info'
                                }
                            ],
                        editable: true,
                        droppable: true, // this allows things to be dropped onto the calendar !!!
                        eventLimit: true, // allow "more" link when too many events
                        selectable: true
                    });
            });
        </script>
    </environment>
}