@{
    Layout = null;
}

<div class="card-body">
    <div class="col-lg-12">
        <div id="panelChart5" class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">Calculation</div>
            </div>
            <div class="panel-body">
                <div class="chart-pie flot-chart"></div>
            </div>
        </div>
    </div>
</div>