@{
    Layout = null;
}

<div class="col-lg-1"></div>
<div class="col-lg-6">
    <h3 class="mb-md pv">Customer Satisfaction</h3>
    <div id="graph-container">
        <canvas id="chartjs-Appraise"></canvas>
    </div>
</div>
<div class="col-lg-4">
    <div class="panel panel-default">
        <div class="panel-heading">處理時間統計</div>
        <div class="panel-body">
            <div id="ct-bar2" class="ct-chart"></div>
        </div>
    </div>
</div>
<div class="col-lg-1"></div>